@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("/css/buttons.css");
@-webkit-keyframes growIn {
  from {
    -webkit-transform: scale(0.7) translateY(5px);
            transform: scale(0.7) translateY(5px);
  }
  100% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
}
@keyframes growIn {
  from {
    -webkit-transform: scale(0.7) translateY(5px);
            transform: scale(0.7) translateY(5px);
  }
  100% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes mainLogo {
  from {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-filter: drop-shadow(0px 0px 0.7px #2f3dbb);
            filter: drop-shadow(0px 0px 0.7px #2f3dbb);
  }
  to {
    stroke-dashoffset: 800;
    -webkit-filter: drop-shadow(0px 0px 0 #2f3dbb);
            filter: drop-shadow(0px 0px 0 #2f3dbb);
  }
}

@keyframes mainLogo {
  from {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-filter: drop-shadow(0px 0px 0.7px #2f3dbb);
            filter: drop-shadow(0px 0px 0.7px #2f3dbb);
  }
  to {
    stroke-dashoffset: 800;
    -webkit-filter: drop-shadow(0px 0px 0 #2f3dbb);
            filter: drop-shadow(0px 0px 0 #2f3dbb);
  }
}

@-webkit-keyframes mainLogoFill {
  0% {
    fill: transparent;
  }
  25% {
    fill: transparent;
  }
  50% {
    fill: #2d3aaf;
  }
}

@keyframes mainLogoFill {
  0% {
    fill: transparent;
  }
  25% {
    fill: transparent;
  }
  50% {
    fill: #2d3aaf;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #040404;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  font-family: Inter, SF Pro Display, -apple-system, sans-serif;
  scroll-behavior: smooth;
  scrollbar-color: #757575 #2e2e2e;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: #2e2e2e;
}

::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 50px;
  border: 3.4px solid #2e2e2e;
}

.hero {
  background-image: linear-gradient(10deg, #040404, #16133c);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.hero .hero-buttons button {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in forwards;
          animation: fadeIn 1s ease-in forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.hero .hero-title {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn 1.5s ease-out forwards, growIn 2s ease-out;
          animation: fadeIn 1.5s ease-out forwards, growIn 2s ease-out;
}

.hero .hero-title h1 {
  color: #2d3aaf;
  font-size: 85px;
}

:focus {
  outline-color: #2d3aaf;
}
/*# sourceMappingURL=docs.css.map */