@use "abstracts";
@use "components/buttons";

@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap";

html,
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: abstracts.$primary;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    font-family: Inter, SF Pro Display, -apple-system, sans-serif;
    scroll-behavior: smooth;
    scrollbar-color: #757575 #2e2e2e;
}

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-track {
    background: #2e2e2e;
}

::-webkit-scrollbar-thumb {
    background: #757575;
    border-radius: 50px;
    border: 3.4px solid #2e2e2e;
}

.api-container {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;

    .backdrop {
        border: 1px solid abstracts.$border;
        background-color: rgb(255, 255, 255, 0.05);
        border-width: 1px;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        padding: 0;
        overflow: hidden;

        .content {
            display: flex;
            flex-direction: column;
            padding: 20px;
            width: 100%;
            height: 100%;

            .review-grid {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                grid-gap: 1.5rem;

                .review-card {
                    display: flex;
                    flex-direction: column;
                    @include abstracts.vibrancy;
                    color: abstracts.$text;
                    border-radius: 0.5rem;
                    padding: 1rem;
                    min-height: 250px;
                    animation: fadeIn 0.7s ease-in-out;
                    transition: all 0.2s ease;
                    cursor: pointer;
                    gap: 5px;

                    .review-card-title {
                        font-size: 1.5rem;
                        font-weight: 600;
                        margin-bottom: 0.1rem;
                    }

                    .review-card-description {
                        font-size: 1rem;
                        font-weight: 400;
                        margin-bottom: 0.5rem;
                        color: abstracts.$textSecondary;
                    }

                    .review-card-author {
                        color: abstracts.$accent;
                        font-size: 0.8rem;
                        font-weight: 500;
                    }

                    .addon-card-footer {
                        margin-top: auto;
                        display: flex;
                    }
                }
            }
        }

        .sidebar {
            display: flex;
            flex-direction: column;
            border-left: 1px solid abstracts.$border;
            width: 35%;
            height: 100%;

            .logo {
                width: 100%;
                height: 90px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    height: 80px;
                    width: 80px;
                }

                h2 {
                    font-size: 25px;
                    color: abstracts.$brand;
                }
            }

            .nav-list {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: calc(100% - 90px);
                padding: 10px;
                margin: 0;
                list-style: none;
                overflow: hidden;

                .nav-list-item {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}
