@use "components";
@use "abstracts";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #0a0a0b;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: Inter, SF Pro Display, -apple-system, sans-serif;
    scroll-behavior: smooth;
    scrollbar-color: #757575 #2e2e2e;
}

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

aside {
    transition: all 0.2s ease;
    height: 100%;
    width: 22%;
    min-width: 300px;
    padding: 20px;

    .background {
        border: 1px solid rgb(255, 255, 255, 0.1);
        background-color: rgb(255, 255, 255, 0.05);
        border-width: 1px;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        ul {
            padding-inline: 10px;

            li {
                list-style: none;
                margin-bottom: 5px;

                a {
                    outline-color: transparent;
                    color: #fff;
                    text-decoration: none;
                    padding: 6px 8px;
                    cursor: pointer;
                    border-radius: 4px;
                    display: flex;
                    transition: all 0.2s ease;
                }

                &:hover {
                    a {
                        outline: 1px solid rgb(255, 255, 255, 0.1);
                        background-color: rgb(255, 255, 255, 0.05);
                    }
                }

                &.selected {
                    a {
                        outline: 1px solid rgb(255, 255, 255, 0.1);
                        background-color: #5f6fff;
                    }
                }
            }
        }

        .header {
            width: 100%;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px;
            flex-direction: column;
            color: #fff;
            font-weight: 500;
            font-size: 20px;

            .name {
                display: flex;
                align-items: center;
                gap: 6px;
                justify-content: center;

                h1 {
                    font-size: 20px;
                    color: #5f6fff;
                }
            }
        }
    }
}

section {
    transition: all 0.2s ease;
    height: 100%;
    padding: 20px;
    padding-left: 0;
    width: 100%;

    .background {
        border: 1px solid rgb(255, 255, 255, 0.1);
        background-color: rgb(255, 255, 255, 0.05);
        border-width: 1px;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        display: flex;
        padding: 20px;
        color: #fff;

        overflow-y: scroll;
        scroll-behavior: smooth;

        .timestamp {
            margin-bottom: 22.5px;
            padding-bottom: 10px;
            border-bottom: 1px solid rgb(255, 255, 255, 0.1);
        }
    }
}

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-track {
    background: #2e2e2e;
}

::-webkit-scrollbar-thumb {
    background: #757575;
    border-radius: 50px;
    border: 3.4px solid #2e2e2e;
}

:focus {
    outline-color: abstracts.$accent;
}

.markdown {
    gap: 10px;
    display: flex;
    height: 100%;
    flex-direction: column;

    .notice {
        @include abstracts.vibrancy;
        padding: 10px;
        border-radius: 5px;

        &::before {
            content: "Notice";
            font-weight: 600;
            font-size: 20px;
            display: block;
        }
    }

    a {
        color: #5f6fff;
        text-decoration: none;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            bottom: -3px;
            background: currentColor;
            transform: scaleX(0);
            transition: transform 0.2s ease;
            transform-origin: right bottom 0px;
        }
        &:hover::after {
            transform: scaleX(1) !important;
            transform-origin: left bottom 0px;
        }
    }

    li,
    p {
        line-height: 27px;
    }

    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 15px;
    }
    h5 {
        font-size: 12.5px;
    }

    hr {
        color: #6f6f6f61;
        margin-bottom: 15px;
    }
    code {
        background-color: #34343a;
        padding: 4px 6px;
        font-family: "Source Code Pro";
        border-radius: 4px;
    }
    table {
        border: 1px solid #494949;
        border-radius: 5px;
        border-collapse: collapse;
        width: 100%;

        td,
        th {
            border: 1px solid #494949;
            padding: 3px;
        }

        tr {
            background: transparent;

            &:nth-child(odd) {
                background: #1d1d1d;
            }
        }
    }
    blockquote {
        p {
            border-left: 3px solid #82828252;
            padding: 1rem;
        }
    }
    ol,
    ul {
        left: 25px;
        position: relative;
    }
    pre code.hljs {
        padding: 7px;
    }
}

@media (max-width: 925px) {
    body {
        flex-direction: column;
    }
    aside {
        height: auto;
        width: 100%;
    }
    section {
        padding-left: 20px;
        padding-top: 0;
    }
}
