@use "components";
@use "abstracts";

@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap";

@keyframes growIn {
    from {
        transform: scale(0.7) translateY(5px);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInMouse {
    from {
        opacity: 0;
    }
    100% {
        opacity: 0.6;
    }
}

@keyframes mainLogo {
    from {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        filter: drop-shadow(0 0 0.7px abstracts.$accentGlow);
    }
    to {
        stroke-dashoffset: 800;
        filter: drop-shadow(0 0 0px abstracts.$accentGlow);
    }
}

@keyframes mainLogoFill {
    0% {
        fill: transparent;
    }
    25% {
        fill: transparent;
    }
    50% {
        fill: abstracts.$accent;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: abstracts.$primary;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    font-family: Inter, SF Pro Display, -apple-system, sans-serif;
    scroll-behavior: smooth;
    scrollbar-color: #757575 #2e2e2e;
}

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-track {
    background: #2e2e2e;
}

::-webkit-scrollbar-thumb {
    background: #757575;
    border-radius: 50px;
    border: 3.4px solid #2e2e2e;
}

@keyframes mouse-up-down {
    0% {
        top: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        top: 10px;
    }
}

.discord {
    margin-top: 2.5%;
    border-block: 1px solid abstracts.$border;
}

.scroll-prompt {
    margin-top: 2%;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards 3s;
    transition: all 0.5s ease;
    height: 32px;
    width: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid abstracts.$border;
    color: abstracts.$border;

    &:focus,
    &:hover {
        outline: none;
        border-color: abstracts.$accent;
        color: abstracts.$accent;
    }

    .mouse-wheel {
        width: 2px;
        height: 6px;
        border-radius: 50px;
        background-color: currentColor;
        animation: mouse-up-down 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) alternate infinite;
        position: relative;
    }
}

.fade-in {
    transition: all 0.8s ease;
    opacity: 0;
    * {
        transition: all 0.8s ease;
        transform: translateX(-300px);
    }

    &.right {
        * {
            transform: translateX(300px);
        }
    }

    &.appear {
        * {
            transform: translateX(0);
        }
        opacity: 1;
    }
}

.hero {
    background-image: linear-gradient(10deg, abstracts.$primary, abstracts.$gradientAccent);
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;

    &.absolute {
        position: absolute;
        top: 0;
        z-index: -1;
    }

    &.features {
        background-image: linear-gradient(0deg, abstracts.$primary, abstracts.$gradientAccent);
        height: 70vh;

        .hero-title {
            margin-top: 100px;
        }
    }

    &.center {
        justify-content: center;
    }

    .hero-buttons {
        display: flex;
        gap: 20px;

        button {
            opacity: 0;
            animation: fadeIn 1s ease-in forwards;
            animation-delay: 2s;
        }
    }

    .hero-logo {
        transition: all 0.2s ease;
        path {
            stroke: abstracts.$accent;
            stroke-width: 0.2px;
            fill: abstracts.$accent;
            stroke-linecap: round;
            stroke-linejoin: round;
            animation: mainLogo 10s ease, mainLogoFill 8s ease;
            transform: translateX(-0.5px);
            transition: fill 0.3s ease;
        }
    }
    .hero-title {
        transition: all 0.2s ease;
        margin-bottom: 5px;
        display: flex;

        animation: fadeIn 1.5s ease-out forwards, growIn 2s ease-out;

        h1 {
            transition: all 0.2s ease;
            color: abstracts.$accent;
            font-size: 85px;
        }
    }
    .hero-subtitle {
        transition: all 0.2s ease;
        animation: fadeIn 1.5s ease-out forwards 1.8s;
        opacity: 0;
        margin-bottom: 20px;

        h2 {
            transition: all 0.2s ease;
            color: abstracts.$accent;
            font-size: 25px;
            text-align: center;
        }
    }
}

@media (max-width: 621px) {
    .hero {
        .hero-logo {
            width: 300px;
            height: 300px;
        }
        .hero-title {
            h1 {
                font-size: 56px;
            }
        }

        .hero-subtitle {
            h2 {
                font-size: 15px;
            }
        }
    }
}

:focus {
    outline-color: abstracts.$accent;
}
