<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Velocity | {{ name }}</title>
        <meta name="description" content="{{ description }}">
        <link rel="stylesheet" href="/css/style.css" />
        <script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/atom-one-dark.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
        <link rel="icon" type="image/x-icon" href="/assets/icon.png" />

        <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

        <meta property="og:url" content="https://velocity-discord.netlify.app/" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Velocity | {{ name }}" />
        <meta property="og:site_name" content="Velocity">
        <meta property="twitter:site" content="Velocity">
        <meta property="og:description" content="{{ description }}" />
        {%- if image -%}
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:image" content="{{image}}">
        <meta property="og:image:alt" content="Thumbnail">
        <meta property="og:image:width" content="1080">
        {%- endif -%}
        <meta name="theme-color" content="#5b88fc" />
    </head>
<body>
    
    {% include "header.njk" %}

    {{ content | safe }}

    <div id="hero" class="hero absolute features">
    </div>
    <div class="addon-header">
        <div>
            <div class="addon-title">{{ name }}</div>
            <div class="addon-description">
                <div class="addon-description-text">{{ description }}</div>
            </div>
            <div class="addon-data">
                <div class="addon-author">
                    <div class="addon-author-name">By <a href="https://github.com/{{ author }}">{{ author }}</a></div>
                </div>
                <div class="separator">|</div>
                <div class="addon-version">
                    <div class="addon-version-name">Version: {{ version }}</div>
                </div>
                <div class="separator">|</div>
                <div class="addon-added-date">
                    <div class="addon-added-date-time">Added: {{ date | postDate }}</div>
                </div>
                <div class="separator">|</div>
                <div class="addon-updated-date">
                    <div class="addon-updated-date-time">Updated: {{ updated | postDate }}</div>
                </div>
            </div>

            <div class="addon-button-container">
                <button class="look-vibrant external" xeon-include href="/store/themes">
                    Themes
                    <div class="arrow">→</div>
                </button>
                <button class="look-vibrant external" xeon-include href="/store/plugins">
                    Plugins
                    <div class="arrow">→</div>
                </button>
            </div>
        </div>

        {%- if image -%}
            <img class="addon-header-image" src="{{image}}" />
        {%- endif -%}
    </div>

    <div class="addon-main">
        <div id="readme"></div>
        <aside class="addon-actions">
            {%- if module -%}
            <button class="look-filled full" xeon-include href="{{sourceURL}}">
                Download on GitHub
                <div class="arrow">→</div>
            </button>
            {%- else -%}
            <button class="look-filled full" onClick="downloadURL()">
                Download
            </button>
            {%- endif -%}
            <button class="look-vibrant full external" xeon-include href="{{sourceURL}}">
                Source
                <div class="arrow">→</div>
            </button>

            <h2>About</h2>
            <div class="addon-author-name">Author: <a href="https://github.com/{{ author }}">{{ author }}</a></div>
            <div class="addon-version-name">Version: {{ version }}</div>
            <div class="addon-added-date-time">Added: {{ date | postDate }}</div>
            <div class="addon-updated-date-time">Updated: {{ updated | postDate }}</div>
            <div class="addon-raw">Raw: <a href="{{ sourceFile }}">{{ name }}</a></div>
        </aside>
    </div>

    <script>
        const readmeURL = "{{ readme }}"
        const sourceURL = "{{ source }}"
        const sourceFileURL = "{{ sourceFile }}"

        const downloadURL = async () => {
            const e = await fetch(sourceFileURL)

            const dataBlob = new Blob([await e.text()], {type: 'application/octet-stream'});
            const dataURL = URL.createObjectURL(dataBlob);
            const anchor = document.createElement("a")

            anchor.href = dataURL;
            
            if (sourceFileURL.includes(".plugin.js")) anchor.download = "{{ name }}.plugin.js";
            else if (sourceFileURL.includes(".theme.css")) anchor.download = "{{ name }}.theme.css";
            anchor.click();
        }

        if (window.location.search.includes("download") && !"{{ module }}") {
            downloadURL()
        }
    </script>
    <script src="/js/addon.js"></script>
    {% include "router.njk"%}
</body>
</html>