<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Velocity | {{ title }}</title>
        <meta name="description" content="An Upcoming Client Modification for Discord enhanced by Plugins and Themes!">
        <meta name="keywords" content="Velocity, Discord, Velocity Discord, Velocity-Discord, Discord Mod, Client Mod, Discord Hack" />
        <link rel="stylesheet" href="/css/docs.css" />
        <script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/atom-one-dark.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
        <link rel="icon" type="image/x-icon" href="/assets/icon.png" />

        <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

        <meta property="og:url" content="https://velocity-discord.netlify.app/docs" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Velocity | Docs" />
        <meta property="og:description" content="A small Client Modification for Discord." />
        <meta property="og:image" content="https://velocity-discord.netlify.app/assets/favicon.png" />
        <meta name="theme-color" content="#2d3aaf" />
    </head>
<body>
    {% include "aside.njk" %}

    <section>
    <div class="background">
      <div class="timestamp">Updated at 
            <strong>{{ date | postDate }}</strong>
            by 
            <strong>{{ author }}</strong>
          </div>
          
        <div class="markdown">
            {{ content | safe }}
        </div>
    </div>
</section>
<script defer src="/js/docs.js"></script>

<script>
  hljs.highlightAll()
  document.querySelectorAll(".markdown h1").forEach((e) => {e.id = e.innerHTML.toLocaleLowerCase().replace(" ", "")})
  document.querySelectorAll(".markdown h2").forEach((e) => {e.id = e.innerHTML.toLocaleLowerCase().replace(" ", "")})
  document.querySelectorAll(".markdown h3").forEach((e) => {e.id = e.innerHTML.toLocaleLowerCase().replace(" ", "")})

  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

</body>
</html>