<footer>
    <h1>Velocity</h1>
    <div class="copyright">
        © 2022 Velocity <br>
        <p>Logos and images created by <a href="https://github.com/thecommieaxolotl">TheCommieAxolotl</a></p>
    </div>

</footer>