<header>
    <img src="/assets/icon.png" alt="logo" width="40">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/store">Store</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/branding">Branding</a></li>
            <li><a href="/docs">Docs</a></li>
        </ul>
    </nav>
</header>