<div class="notice">
    <div class="notice-info">
        <div class="notice-title">🇺🇦 We Support Ukraine</div>
        {# <div class="notice-description">Learn More</div> #}
    </div>
    <button class="button look-filled notice-action" onClick="window.open('https://war.ukraine.ua/support-ukraine/')">
        See How You Can Help
    </button>
</div>