<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Velocity | {{ title }}</title>
        <meta name="description" content="A small client mod for Discord">
        <link rel="stylesheet" href="/css/style.css" />
        <script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/atom-one-dark.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
        <link rel="icon" type="image/x-icon" href="/assets/icon.png" />

        <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

        <meta property="og:url" content="https://velocity-discord.netlify.app/" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Velocity | {{ title }}" />
        <meta property="og:description" content="A small Client Modification for Discord." />
        <meta property="og:image" content="https://velocity-discord.netlify.app/assets/favicon.png" />
        <meta name="theme-color" content="#2d3aaf" />
    </head>
<body>
    {% include "header.njk" %}

    {{ content | safe }}

    <h1 class="featured">Featured Addons</h1>
    <div class="addons-grid">
        {%- for addon in collections.store -%}

            <div class="addon-wrapper">
                <a href="{{ addon.url }}" class="addon-link">
                    <div class="addon-card">
                        {%- if addon.data.image -%}
                            <img class="addon-card-image" src="{{addon.data.image}}" />
                        {%- endif -%}
                        <div class="addon-card-title"> {{addon.data.name}} </div>
                        <div class="addon-card-author"> {{addon.data.author}} </div>
                        <div class="addon-card-description"> {{addon.data.description}} </div>
                        <div class="addon-card-footer">
                            <a class="button look-filled" onClick="location.href = '{{addon.url }}?download'">
                                Download
                            </a>
                        </div>
                    </div>
                </a>
            </div>

        {%- endfor -%}
    </div>
    <script>
        console.log("{{ selection }}")
    </script>
</body>
</html>