---
import { DOC_OUTLINE } from "../constants";

const { selected } = Astro.props;
---

<div class="doc-outline">
    <div class="sidebar">
        {
            DOC_OUTLINE.map((item, index) =>
                item.type === "title" ? (
                    <div class="title">{item.label}</div>
                ) : (
                    <a href={item.path} class={`item ${selected == item.label && "selected"}`}>
                        <div class="item-label">{item.label}</div>
                    </a>
                )
            )
        }
    </div>
    <slot />
</div>

<style>
    .doc-outline {
        display: flex;
        flex-direction: row;
        height: 100%;
        padding: 2em 5em;
        gap: 30px;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 100%;
        gap: 5px;
    }

    .title {
        color: #707071;
        font-size: 14px;
        font-weight: 500;
    }

    .item {
        padding: 12px;
        transition: all 0.2s ease;
        color: var(--color-primary);
        text-decoration: none;
        border-radius: 8px;
        border: 1px solid transparent;
    }

    .item:hover {
        background-color: var(--background-floating);
        border-color: var(--border-floating);
    }

    .item.selected {
        background-color: var(--brand-dark);
        border-color: var(--border-floating);
    }

    * + .title {
        margin-top: 2em;
    }
</style>
