---
title: Plugins
layout: "store.njk"
type: "plugins"
---

<main>
    <div id="hero" class="hero center features">
        <div class="hero-title">
            <h1>Plugins</h1>
        </div>
        <div class="hero-subtitle">
            <h2>Velocity Plugins.</h2>
        </div>
        <div class="hero-buttons">
            <button class="look-vibrant external" onClick="location.href = '/store'">
                Store
                <div class="arrow">→</div>
            </button>
        </div>
    </div>
</main>