.featured {
    color: rgb(204, 204, 204);
    font-size: 30px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    -webkit-animation: fadeIn 1.5s ease-in-out;
    animation: fadeIn 1.5s ease-in-out;
    margin-bottom: 5px;
}

.addons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1.5rem;
    margin-bottom: 2rem;
    padding: 0.5% 15%;
}
.addons-grid .addon-link {
    text-decoration: none;
    color: inherit;
}
.addons-grid .addon-card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(255, 255, 255, 0.1);
    background-color: rgb(255, 255, 255, 0.05);
    border-width: 1px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: rgb(204, 204, 204);
    border-radius: 0.5rem;
    padding: 1rem;
    min-height: 350px;
    -webkit-animation: fadeIn 0.7s ease-in-out;
    animation: fadeIn 0.7s ease-in-out;
    transition: all 0.2s ease;
    cursor: pointer;
    gap: 5px;
}
.addons-grid .addon-card:hover {
    transform: translateY(-5px);
}
.addons-grid .addon-card .addon-card-image {
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 4px;
    transition: all 0.2s ease;
    margin-bottom: 1rem;
}
.addons-grid .addon-card .addon-card-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.1rem;
}
.addons-grid .addon-card .addon-card-description {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: rgb(153, 153, 153);
}
.addons-grid .addon-card .addon-card-button {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.addons-grid .addon-card .addon-card-author {
    color: #5968eb;
    font-size: 0.8rem;
    font-weight: 500;
}
.addons-grid .addon-card .addon-card-footer {
    margin-top: auto;
    display: flex;
}

.addon-header {
    display: flex;
    flex-direction: row;
    margin-top: 9%;
    margin-inline: 5%;
    border-radius: 8px;
    justify-content: space-between;
    padding: 15px;
    color: rgb(204, 204, 204);
    border: 1px solid rgb(255, 255, 255, 0.1);
    background-color: rgb(255, 255, 255, 0.05);
    border-width: 1px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.addon-header .addon-title {
    font-size: 40px;
    font-weight: 600;
}
.addon-header .addon-data {
    margin: 5px 0 10px 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.addon-header .addon-data .separator {
    color: rgb(153, 153, 153);
    font-weight: 400;
    opacity: 0.4;
}
.addon-header .addon-data a {
    color: #5968eb;
    text-decoration: none;
    font-weight: 600;
}
.addon-header .addon-button-container {
    display: flex;
    gap: 5px;
}
.addon-header .addon-header-image {
    height: 166px;
    border-radius: 4px;
}

.addon-main {
    display: flex;
    padding: 2% 5% 5% 5%;
    gap: 2%;
}
.addon-main .addon-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255, 0.1);
    background-color: rgb(255, 255, 255, 0.05);
    border-width: 1px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: rgb(204, 204, 204);
}
.addon-main .addon-actions a {
    color: #5968eb;
    text-decoration: none;
}
.addon-main #readme {
    width: 70%;
    border-radius: 8px;
    padding: 0.5% 1.2%;
    color: rgb(204, 204, 204);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    transition: all 0.2s ease;
    border: 1px solid rgb(255, 255, 255, 0.1);
    background-color: rgb(255, 255, 255, 0.05);
    border-width: 1px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.addon-main #readme .path {
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255, 0.3490196078);
}
.addon-main #readme img {
    width: 435px;
    border-radius: 4px;
}
.addon-main #readme a {
    color: #5968eb;
    text-decoration: none;
}
.addon-main #readme h1 {
    font-size: 30px;
}
.addon-main #readme h2 {
    font-size: 19px;
}
.addon-main #readme h3 {
    font-size: 16px;
}
.addon-main #readme h4 {
    font-size: 10px;
}
.addon-main #readme h5 {
    font-size: 7px;
}
.addon-main #readme p {
    font-size: 13px;
}
.addon-main #readme code {
    background: #262626;
    padding: 5px 7px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 10px;
}

@media screen and (max-width: 1000px) {
    .addon-header {
        margin-top: 150px;
    }
}
@media screen and (max-width: 768px) {
    .addon-header-image {
        height: 60px !important;
    }

    .addon-description {
        margin-bottom: 10px !important;
    }

    .addon-data {
        display: none !important;
    }

    .addon-main {
        flex-direction: column-reverse;
    }
    .addon-main > * {
        width: 100% !important;
        margin-bottom: 5%;
    }

    #readme {
        overflow: hidden;
    }
    #readme img {
        width: 200px !important;
    }
}
button,
a.button {
    font-family: Inter, SF Pro Display, -apple-system, sans-serif;
    border: none;
    padding: 12px 14px;
    border-radius: 10px;
    color: rgb(165, 165, 165);
    display: flex;
    gap: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
button:hover,
a.button:hover {
    color: rgb(218, 218, 218);
}
button:hover .arrow,
a.button:hover .arrow {
    transform: translateX(25%);
}
button .arrow,
a.button .arrow {
    transition: all 0.2s ease;
}
button.full,
a.button.full {
    width: 100%;
    justify-content: center;
}
button.look-filled,
a.button.look-filled {
    color: #fff;
    border: 1px solid rgb(255, 255, 255, 0.1);
    background-color: #4653ce;
    border-width: 1px;
}
button.look-filled.hover,
a.button.look-filled.hover {
    background-color: #2f3dbb;
}
button.look-vibrant,
a.button.look-vibrant {
    border: 1px solid rgb(255, 255, 255, 0.1);
    background-color: rgb(255, 255, 255, 0.05);
    border-width: 1px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
button.look-empty,
a.button.look-empty {
    background-color: transparent;
}

.details {
    border-top: 1px solid rgb(255, 255, 255, 0.1);
    background-color: rgb(255, 255, 255, 0.05);
    border-width: 1px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.feature {
    min-height: 40vh;
    margin-block: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.feature h1 {
    color: rgb(204, 204, 204);
}
.feature p {
    color: #95989d;
    font-size: 16px;
    font-weight: 500;
}
.feature code {
    font-family: "Source Code Pro";
}
.feature .desc {
    transition: all 0.2s ease;
    max-width: 450px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.feature .desc code {
    background-color: #34343a;
    padding: 2px 4px;
    font-family: "Source Code Pro";
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
}
.feature .desc * {
    transition: all 0.2s ease;
}
.feature .desc h1 {
    font-size: 50px;
}
.feature#promo .preview {
    width: 600px;
}
.feature .preview {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    transition: all 0.2s ease;
    margin: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.feature .preview.dim {
    opacity: 0.7;
}
.feature .preview img {
    transition: all 0.2s ease;
    height: 600px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255, 0.05);
}
.feature .preview img:hover {
    opacity: 0.6;
    cursor: pointer;
}
.feature .preview img ~ figcaption {
    width: 100%;
    padding: 12px 16px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: rgb(204, 204, 204);
    border-radius: 4px;
    border: 1px solid rgb(255, 255, 255, 0.1);
    background-color: rgb(255, 255, 255, 0.05);
    border-width: 1px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature .preview img ~ figcaption .dimensions {
    padding: 6px 8px;
    border: 1px solid rgb(255, 255, 255, 0.1);
    background-color: rgb(255, 255, 255, 0.05);
    border-width: 1px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 4px;
}
.feature .preview pre {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 350px;
}
.feature .preview pre code {
    border-radius: 5px;
    box-shadow: 2px 2px 15px #000;
}

@media (max-width: 850px) {
    .feature {
        height: 20vh;
    }
    .feature .preview {
        margin: 0;
    }
    .feature .preview img {
        height: 300px;
    }
    .feature .preview pre {
        display: none;
    }
    .feature .desc {
        max-width: 400px;
    }
}
footer {
    border: 1px solid rgb(255, 255, 255, 0.1);
    background-color: rgb(255, 255, 255, 0.05);
    border-width: 1px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.05);
    padding: 30px 10%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    z-index: 99;
    color: rgb(204, 204, 204);
}
footer h1 {
    color: #5968eb;
}
footer .copyright {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    text-align: end;
}
footer .copyright a {
    text-decoration: none;
    color: #5968eb;
    position: relative;
}
footer .copyright a:hover::after {
    transform: scaleX(1) !important;
    transform-origin: left bottom 0px;
}
footer .copyright a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -3px;
    background: currentColor;
    transform: scaleX(0);
    transition: transform 0.4s ease;
    transform-origin: right bottom 0px;
}

@media (max-width: 850px) {
    footer {
        flex-direction: column;
    }
    footer .copyright {
        margin-top: 5px;
        flex-direction: column;
        text-align: center;
    }
}
header {
    border: 1px solid rgb(255, 255, 255, 0.1);
    background-color: rgb(255, 255, 255, 0.05);
    border-width: 1px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #211f42;
    border-inline: none !important;
    border-top: none !important;
    padding: 30px 5%;
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
}
header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
header nav ul li a {
    font-size: 12.5px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: hsla(0deg, 0%, 100%, 0.6);
    position: relative;
}
header nav ul li a:hover {
    color: hsla(0deg, 0%, 100%, 0.96);
}
header nav ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -3px;
    background: currentColor;
    transform: scaleX(0);
    transition: transform 0.4s ease;
    transform-origin: right bottom 0px;
}
header nav ul li a:hover::after {
    transform: scaleX(1) !important;
    transform-origin: left bottom 0px;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
    header {
        border: 1px solid rgb(255, 255, 255, 0.1);
        background-color: rgb(255, 255, 255, 0.05);
        border-width: 1px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgb(255, 255, 255, 0.05);
    }
}
.notice {
    color: rgb(204, 204, 204);
    background-color: #2c2a3c;
    padding: 20px 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.notice .notice-info {
    display: flex;
    font-size: 16px;
    gap: 10px;
}
.notice .notice-info .notice-title {
    font-weight: 700;
}
.notice .notice-info .notice-description {
    font-weight: 400;
}
.notice + * {
    margin-top: 80px;
}
.notice + header + * {
    margin-top: 170px;
}
.notice + header ~ .addon-header {
    margin-top: 220px;
} /*# sourceMappingURL=index.css.map */
