<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Velocity - Developer</title>
        
        <link rel="stylesheet" href="/css/dev.css" />
        <link rel="icon" type="image/x-icon" href="/assets/icon.png" />

        <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>
    <body>
        <div class="api-container">
            <div class="backdrop">
                <section class="content">
                    <div class="review-grid">
                    </div>
                </section>
                <aside class="sidebar">
                    <div class="logo">
                        <img src="/assets/icon.png" alt="Logo">
                        <h2>Developer</h2>
                    </div>
                    <div class="nav-list">
                        <li class="nav-list-item"><a href=""></a></li>
                        <li class="nav-list-item"><a href=""></a></li>
                        <li class="nav-list-item"><a href=""></a></li>
                        <li class="nav-list-item"><a href=""></a></li>
                        <li class="nav-list-item"><a href=""></a></li>
                    </div>
                </aside>
            </div>
        </div>
        <script>
            const createElementFromHTML = (string, tagName) => {
                const div = document.createElement(tagName || 'div');
                div.innerHTML = string.trim();
                return div.firstChild;}
            }
            async function getAddons() {
                const response = await fetch('/admin/dev/approvals.json');
                const data = await response.json();
                Object.values(data).forEach(addon => {
                    document.querySelector('.review-grid').append(createElementFromHTML(`
                        <div class="review-card">
                            <div class="review-card-header">${addon.type.replace(/^\w/, (c) => c.toUpperCase())} - ${addon.name}</div>
                            <div class="review-card-author">${addon.author}</div>
                            <div class="review-card-description">${addon.description}</div>
                            <a class="review-card-hash" href="${addon.repository}/commit/${addon.commit}">${addon.commit.substring(0, 7)}</a>
                            <div class="addon-card-footer">
                                <a class="review-card-button review-card-source button look-empty" href="${addon.sourceFile}">Source</a>
                                <a href="https://velocity-discord.netlify.app/admin/#/collections/${addon.type}/new" class="review-card-button review-card-approve button look-filled">Approve</a>
                            </div>
                    </div>
                    `);
                })
            }
            getAddons()

            setTimeout(() => {
                if (window.netlifyIdentity) {
                    if (!window.netlifyIdentity?.currentUser()) {
                        location.href = "/404";
                    }
                    if (!window.netlifyIdentity.currentUser()?.app_metadata?.roles?.includes("admin")) {
                        window.location.href = '/404';
                    }
                    window.netlifyIdentity.on("init", (user) => {
                        if (!user) {
                            window.netlifyIdentity.on("login", () => {
                                document.location.href = "/dev/";
                            });
                        }
                    });
                }
            }, 100);
        </script>
    </body>
</html>
