---
import { DOC_OUTLINE } from "../constants";

const { selected, title } = Astro.props;

const se = DOC_OUTLINE.find((e) => e.label === selected);

const docFiles = await Astro.glob("../pages/docs/*.md");

let activeFile;
let headers;

if (se) activeFile = docFiles.find((e) => e.file.includes(se.path));

headers = activeFile?.getHeadings();
---

<nav class="outline">
    <ul>
        <li class="title">
            <a href="#">{title}</a>
        </li>
        {
            headers?.map((header: any) => {
                if (header.depth > 3) return;
                return (
                    <li class="list-item">
                        <a class={`indent-${header.depth}`} href={`#${header.slug}`}>
                            {header.text}
                        </a>
                    </li>
                );
            })
        }
    </ul>
</nav>

<style>
    .outline {
        width: 250px;
        height: 100%;
        margin-left: 20px;
    }

    .title {
        color: #a8a8a8;
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 500;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .list-item {
        padding: 5px 7px;
        border-radius: 8px;
        border: 1px solid transparent;
        transition: all 0.2s ease-in-out;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        cursor: pointer;
    }

    .list-item:hover {
        background-color: var(--background-floating);
        border-color: var(--border-floating);
    }

    .list-item.selected {
        background-color: var(--brand-dark);
        border-color: var(--border-floating);
    }

    a {
        color: var(--color-text);
        text-decoration: none;
    }

    a.indent-1 {
        padding-left: 15px;
    }

    a.indent-2 {
        padding-left: 25px;
        color: var(--color-text-secondary);
    }

    a.indent-3 {
        padding-left: 40px;
        color: var(--color-text-tertiary);
    }

    a:not(.title *)::before {
        content: "";
        position: absolute;
        left: 4px;
        top: 6px;
        bottom: 6px;
        width: 3px;
        border-radius: 2px;
        background-color: var(--brand);
        transition: all 0.2s ease;
        opacity: 0;
        transform-origin: center center;
        transform: scale(0);
    }

    .list-item:hover a::before {
        opacity: 1;
        transform: scale(1);
    }
</style>
