---
import DocOutline from "./DocOutline.astro";

const { title, dev, selected } = Astro.props;
---

<div class="backdrop">
    {dev && <div class="dev-cover">Oh no! This Page isn't finished.</div>}
    <div class="titlebar">
        <h1>{title}</h1>
    </div>
    <div class="content">
        <div class="markdown">
            <slot />
        </div>
        <DocOutline selected={selected} title="Outline" />
    </div>
</div>

<style>
    .dev-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: all;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        backdrop-filter: blur(5px);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 500;
        padding: 3em;
        z-index: 99;
    }

    .content {
        height: 100%;
        display: flex;
        flex-direction: row;
        padding-bottom: 1em;
    }

    .backdrop {
        display: flex;
        border-radius: 8px;
        background-color: var(--background-floating);
        border: 1px solid var(--border-floating);
        width: 100%;
        height: 79vh;
        padding: 25px;
        flex-direction: column;
        position: relative;
        overflow: hidden;
    }

    .titlebar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        z-index: -1;
    }

    .titlebar h1 {
        font-size: 0.8rem;
        font-weight: 600;
        color: var(--color-primary);
        opacity: 40%;
    }

    .markdown {
        overflow: auto;
        scrollbar-width: thin;
        scrollbar-color: #757575 transparent;
        scroll-behavior: smooth;
    }

    .markdown::-webkit-scrollbar {
        width: 12px;
    }

    .markdown::-webkit-scrollbar-track {
        background: #1d1d1e;
    }

    .markdown::-webkit-scrollbar-thumb {
        background: #757575;
        border: 3px solid #1d1d1e;

        border-radius: 10px;
    }
</style>

<style is:global>
    .markdown {
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        color: var(--color-primary);
    }

    .markdown * + * {
        margin-top: 10px;
    }

    .markdown h1 {
        font-size: 2rem;
        font-weight: 600;
        color: var(--color-primary);
        margin-bottom: 25px;
        padding-bottom: 5px;
        border-bottom: 1px solid var(--border-floating);
    }

    .markdown h2 {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--color-primary);
        margin-block: 15px;
        padding-bottom: 5px;
        border-bottom: 1px solid var(--border-floating);
    }

    .markdown h3 {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--color-primary);
        padding-bottom: 5px;
        margin-block: 15px;
    }

    .markdown h4 {
        font-size: 1rem;
        font-weight: 600;
        color: var(--color-primary);
    }

    .markdown h5 {
        font-size: 0.8rem;
        font-weight: 600;
        color: var(--color-primary);
    }

    .markdown h6 {
        font-size: 0.6rem;
        font-weight: 600;
        color: var(--color-primary);
    }

    .markdown a {
        color: var(--brand);
    }

    .markdown hr {
        border: 1px solid var(--border-floating);
        margin: 25px 0;
    }

    .markdown table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid var(--border-floating);
        margin: 25px 0;
    }

    .markdown table tr {
        border-bottom: 1px solid var(--border-floating);
    }

    .markdown table tr:last-child {
        border-bottom: none;
    }

    .markdown table th,
    .markdown table td {
        padding: 10px 15px;
        border-right: 1px solid var(--border-floating);
    }

    .markdown table th {
        font-weight: 600;
        color: var(--color-primary);
    }

    .markdown table td {
        font-size: 1rem;
        font-weight: 400;
        color: var(--color-primary);
    }

    .markdown table td:last-child {
        border-right: none;
    }

    .markdown code:not(pre *) {
        font-weight: 400;
        color: var(--color-primary);
        background-color: var(--background-floating);
        padding: 2px 5px;
        border-radius: 5px;
    }

    .markdown a {
        color: var(--brand);
    }
</style>
