<footer>
    <div class="headline">
        <div class="logo-text">Velocity</div>
        <div class="copyright">© 2022 Velocity Team</div>
    </div>
    <div class="links">
        <div class="row">
            <a href="/">Home</a>
            <a href="/docs/intro">Docs</a>
            <a href="/branding">Branding</a>
        </div>
        <div class="row">
            <a href="/store">Store</a>
            <a href="/discord">Discord</a>
            <a href="https://github.com/Velocity-Discord/">GitHub</a>
        </div>
    </div>
</footer>

<style>
    footer {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        padding: 3em 6em 5em 6em;
        gap: 30px;
        background-color: var(--background-floating);
        border-top: 1px solid var(--border-floating);
    }

    .headline {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .logo-text {
        font-size: 2rem;
        font-weight: 600;
        color: var(--brand);
        text-decoration: none;
    }

    .copyright {
        font-size: 1rem;
        color: var(--color-secondary);
    }

    .links {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .row {
        display: flex;
        gap: 20px;
    }

    a {
        width: 100px;
        color: var(--color-primary);
        text-decoration: none;
    }

    @media (max-width: 768px) {
        .headline {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    @media (max-width: 500px) {
        footer {
            padding: 3em 2em 5em 2em;
        }
    }
</style>
