@use "../abstracts/mixins";
@use "../abstracts/variables";

.addons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1.5rem;
    margin-bottom: 2rem;
    padding: 0.5% 15%;

    .addon-card {
        display: flex;
        flex-direction: column;
        @include mixins.vibrancy;
        color: variables.$text;
        border-radius: 0.5rem;
        padding: 1rem;
        min-height: 350px;
        animation: fadeIn 0.5s ease-in-out;
        transition: all 0.2s ease;
        cursor: pointer;
        gap: 5px;

        &:hover {
            transform: translateY(-5px);
        }

        .addon-card-image {
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-radius: 4px;
            transition: all 0.2s ease;
            margin-bottom: 1rem;
        }

        .addon-card-title {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 0.1rem;
        }

        .addon-card-description {
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 0.5rem;
            color: variables.$textSecondary;
        }

        .addon-card-button {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        .addon-card-footer {
            margin-top: auto;

            .addon-card-author {
                color: variables.$linkAccent;
                font-size: 0.8rem;
                font-weight: 500;
            }
        }
    }
}

.addon-header {
    display: flex;
    flex-direction: row;
    margin-top: 9%;
    margin-inline: 5%;
    border-radius: 8px;
    justify-content: space-between;
    padding: 15px;
    color: variables.$text;
    @include mixins.vibrancy;

    .addon-title {
        font-size: 40px;
        font-weight: 600;
    }

    .addon-data {
        margin: 5px 0 10px 0;
        display: flex;
        flex-direction: row;
        gap: 10px;

        a {
            color: variables.$linkAccent;
            text-decoration: none;
            font-weight: 600;
        }
    }

    .addon-button-container {
        display: flex;
        gap: 5px;
    }

    .addon-header-image {
        width: 200px;
        border-radius: 4px;
    }
}

#readme {
    margin: 2.5% 30% 2.5% 5%;
    border-radius: 8px;
    padding: 0.5% 1.2%;
    color: variables.$text;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    transition: all 0.2s ease;
    @include mixins.vibrancy;

    .path {
        font-size: 12px;
        font-weight: 400;
        margin-top: 10px;
        color: #ffffff59;
    }

    img {
        width: 435px;
        border-radius: 4px;
    }

    a {
        color: variables.$linkAccent;
        text-decoration: none;
    }

    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 19px;
    }
    h3 {
        font-size: 16px;
    }
    h4 {
        font-size: 10px;
    }
    h5 {
        font-size: 7px;
    }
    p {
        font-size: 13px;
    }
    code {
        background: #262626;
        padding: 5px 7px;
        border-radius: 4px;
        font-weight: 600;
        font-size: 10px;
    }
}
