@use "../abstracts";

section.branding {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    > * + * {
        margin-top: 15px;
    }

    h1 {
        font-size: 40px;
        color: abstracts.$text;
    }

    figure {
        img {
            height: 200px;
            border: 1px solid abstracts.$border;
            background-color: transparent;
            background-image: linear-gradient(45deg, #222427 25%, transparent 0, transparent 75%, #222427 0, #222427),
                linear-gradient(45deg, #222427 25%, transparent 0, transparent 75%, #222427 0, #222427);
            background-size: 30px 30px;
            background-position: 0 0, 45px 45px;

            border-radius: 10px;

            &.bg-light {
                background-color: #ffffff;
                background-image: linear-gradient(45deg, #f6f6f6 25%, transparent 0, transparent 75%, #f6f6f6 0, #f6f6f6),
                    linear-gradient(45deg, #f6f6f6 25%, transparent 0, transparent 75%, #f6f6f6 0, #f6f6f6);
            }
        }

        figcaption {
            font-weight: 500;
            font-size: 14px;

            .downloads {
                @include abstracts.vibrancy;
                width: fit-content;
                padding: 2px 4px;
                border-radius: 4px;
                margin-top: 5px;

                color: darken(abstracts.$text, 60%);
            }

            a {
                color: abstracts.$accent;
                text-decoration: none;
                position: relative;
            }
        }
    }

    .color-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(290px, 1fr));
        gap: 20px;
        width: 70%;

        .color-box {
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            padding: 20px;
            min-height: 160px;
            color: #fff;
            position: relative;

            h2 {
                font-size: 25px;
                margin-bottom: 30px;
            }

            .color-codes {
                position: absolute;
                bottom: 20px;
                left: 20px;
                text-transform: uppercase;
                opacity: 0.8;
            }

            &.vb {
                background-color: #5b88fc;
                color: #fff;
            }
            &.mg {
                background-color: #61ed99;
                color: #000;
            }
            &.dr {
                background-color: #d46060;
                color: #fff;
            }
            &.sy {
                background-color: #f2e147;
                color: #000;
            }
            &.ab {
                background-color: #242121;
                color: #fff;
            }
        }
    }

    .images-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;

        .image-type {
            display: flex;
            gap: 20px;
            width: fit-content;
        }
    }
}
