@use "../abstracts";

button,
a.button {
    font-family: Inter, SF Pro Display, -apple-system, sans-serif;
    border: none;
    padding: 12px 14px;
    border-radius: 10px;
    color: rgb(165, 165, 165);
    display: flex;
    gap: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
    height: fit-content;
    text-decoration: none;

    &:focus {
        color: rgb(218, 218, 218);
        .arrow {
            transform: translateX(25%);
        }
        outline: 2px solid abstracts.$accent;
    }

    &:hover {
        color: rgb(218, 218, 218);
        .arrow {
            transform: translateX(25%);
        }
    }

    .arrow {
        transition: all 0.2s ease;
    }

    &.full {
        width: 100%;
        justify-content: center;
    }

    &.look-filled {
        @include abstracts.filled;

        &.hover {
            background-color: abstracts.$accentGlow;
        }
    }

    &.look-vibrant {
        @include abstracts.vibrancy;
    }

    &.look-empty {
        background-color: transparent;
    }
}
