@use "../abstracts";

.feature {
    min-height: 40vh;
    margin-block: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;

    h1 {
        color: abstracts.$text;
    }

    p {
        color: #95989d;
        font-size: 16px;
        font-weight: 500;
    }

    code {
        font-family: "Source Code Pro";
    }

    .desc {
        transition: all 0.2s ease;

        code {
            background-color: #34343a;
            padding: 2px 4px;
            font-family: "Source Code Pro";
            border-radius: 4px;
            font-size: 12px;
            font-weight: 500;
        }

        * {
            transition: all 0.2s ease;
        }

        h1 {
            font-size: 50px;
        }

        max-width: 450px;
        margin: 50px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &#promo {
        .preview {
            width: 600px;
        }
    }

    .preview {
        user-select: none;
        overflow: hidden;
        transition: all 0.2s ease;
        margin-right: 41px;
        display: flex;
        align-items: center;
        flex-direction: column;
        min-width: fit-content;

        &.dim {
            opacity: 0.7;
        }

        figure {
            width: 600px;
        }

        img {
            transition: all 0.2s ease;
            height: 600px;
            border-radius: 4px;
            background-color: rgb(255, 255, 255, 0.05);

            &:hover {
                opacity: 0.6;
                cursor: pointer;
            }

            ~ figcaption {
                width: 100%;
                padding: 12px 16px;
                margin-top: 5px;
                margin-bottom: 20px;
                color: abstracts.$text;
                border-radius: 4px;
                @include abstracts.vibrancy;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .dimensions {
                    padding: 6px 8px;
                    @include abstracts.vibrancy;
                    border-radius: 4px;
                }
            }
        }

        pre {
            width: fit-content;
            min-width: 350px;

            code {
                border-radius: 15px;
            }
        }
    }
}

@media (max-width: 850px) {
    .feature {
        height: 20vh;

        .preview {
            margin: 0;

            figure {
                width: 300px;
            }

            img {
                height: 300px;
            }

            pre {
                display: none;
            }
        }

        .desc {
            max-width: 400px;
        }
    }
}
