@use "../abstracts/mixins";
@use "../abstracts/variables";

.notice {
    color: variables.$text;
    background-color: #2c2a3c;
    padding: 20px 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .notice-info {
        display: flex;
        font-size: 16px;
        gap: 10px;

        .notice-title {
            font-weight: 700;
        }
        .notice-description {
            font-weight: 400;
        }
    }

    & + * {
        margin-top: 80px;
    }
    & + header + * {
        margin-top: 170px;
    }
    & + header ~ .addon-header {
        margin-top: 220px;
    }
}
