<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Velocity - Developer</title>
        
        <link rel="stylesheet" href="/css/dev.css" />
        <link rel="icon" type="image/x-icon" href="/assets/icon.png" />

        <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>
    <body>
        <div class="api-container">
            <div class="backdrop">
                <section class="content">
                    <div class="reviews">
                        <h1>Awaiting Review</h1>
                        <div class="review-grid">

                        </div>
                    </div>
                </section>
                <aside class="sidebar">
                    <div class="logo">
                        <img src="/assets/icon.png" alt="Logo">
                        <h2>Developer</h2>
                    </div>
                    <div class="nav-list">
                        <li class="nav-list-item"><a href=""></a></li>
                        <li class="nav-list-item"><a href=""></a></li>
                        <li class="nav-list-item"><a href=""></a></li>
                        <li class="nav-list-item"><a href=""></a></li>
                        <li class="nav-list-item"><a href=""></a></li>
                    </div>
                </aside>
            </div>
        </div>
        <script>
            const createElementFromHTML = (string, tagName) => {
                const div = document.createElement(tagName || 'div');
                div.innerHTML = string.trim();
                return div.firstChild;
            };

            const getAddons = async () => {
                const response = await fetch('/admin/dev/approvals.json');
                const data = await response.json();
                Object.values(data).forEach(addon => {
                    document.querySelector('.review-grid').append(createElementFromHTML(`
                        <div class="review-card">
                            <div class="review-card-header">${addon.type.replace(/^\w/, (c) => c.toUpperCase())} - ${addon.name}</div>
                            <div class="review-card-author">${addon.author}</div>
                            <div class="review-card-description">${addon.description}</div>
                            <a target="_blank" class="review-card-hash" href="${addon.repository}/commit/${addon.commit}">${addon.commit.substring(0, 7)} →</a>
                            <div class="addon-card-footer">
                                <a target="_blank" class="review-card-button review-card-source button look-empty" href="${addon.sourceFile}">Source <div class="arrow">→</div></a>
                                <a target="_blank" href="https://velocity-discord.netlify.app/admin/#/collections/${addon.type}/new" class="review-card-button review-card-approve button look-filled">Approve</a>
                            </div>
                    </div>
                    `));
                })
                document.querySelector(".reviews h1").innerHTML = `Awaiting Review - ${document.querySelector(".reviews .review-grid").children.length}`
            }

            getAddons()

            setInterval(() => {
                getAddons()
            }, 300000)
        </script>
    </body>
</html>
