@mixin vibrancy {
    border: 1px solid rgb(255, 255, 255, 0.1);
    background-color: rgb(255, 255, 255, 0.05);
    border-width: 1px;
    backdrop-filter: blur(10px);
}

@mixin vibrancyTop {
    border-top: 1px solid rgb(255, 255, 255, 0.1);
    background-color: rgb(255, 255, 255, 0.05);
    border-width: 1px;
    backdrop-filter: blur(10px);
}

@mixin filled {
    color: #fff;
    border: 1px solid rgb(255, 255, 255, 0.1);
    background-color: #4653ce;
    border-width: 1px;
}

@mixin danger {
    color: #fff;
    border: 1px solid rgb(255, 255, 255, 0.1);
    background-color: #ce4646;
    border-width: 1px;

    &:hover {
        background-color: #ce464682;
    }
}
