@use "./variables";

@mixin vibrancy {
    border: variables.$borderPrimary;
    background-color: variables.$backgroundVibrant;
    border-width: 1px;
    backdrop-filter: blur(10px);
}

@mixin vibrancyTop {
    border-top: variables.$borderPrimary;
    background-color: variables.$backgroundVibrant;
    border-width: 1px;
    backdrop-filter: blur(10px);
}

@mixin filled {
    color: #fff;
    border: variables.$borderPrimary;
    background-color: #4653ce;
    border-width: 1px;

    &:hover {
        background-color: #4654ced1;
    }
}

@mixin danger {
    color: #fff;
    border: variables.$borderPrimary;
    background-color: #ce4646;
    border-width: 1px;

    &:hover {
        background-color: #ce464682;
    }
}
