@mixin vibrancy {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.05);
    border-width: 1px;
    backdrop-filter: blur(10px);
}

@mixin vibrancyTop {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.05);
    border-width: 1px;
    backdrop-filter: blur(10px);
}

@mixin filled {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #4653ce;
    border-width: 1px;
}
