$primary: #040404;
$secondary: #333333;
$tertiary: #2b2b2e;
$accent: #5968eb;
$accentGlow: #2f3dbb;
$gradientAccent: #16133c;
$text: #cccccc;
$textSecondary: #999999;

$blue: #5968eb;
$red: #d46060;
$green: #61ed99;
$yellow: #f2e147;
$black: #242121;
