<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Velocity</title>
        <meta name="description" content="An Upcoming Client Modification for Discord enhanced by Plugins and Themes!" />
        <meta name="keywords" content="Velocity, Discord, Velocity Discord, Velocity-Discord, Discord Mod, Client Mod, Discord Hack" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/discord.css" />
        <link rel="icon" type="image/x-icon" href="/assets/icon.png" />

        <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

        <meta property="og:url" content="https://velocity-discord.netlify.app/" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Velocity" />
        <meta property="og:description" content="An upcoming Client Modification for Discord." />
        <meta property="og:image" content="https://velocity-discord.netlify.app/assets/logo/Velocity-Blue.png" />
        <meta name="theme-color" content="#2d3aaf" />
    </head>
    <body>
        
        <div id="hero" class="hero">
            <svg tag="svg" viewBox="0 0 22 22" width="430" class="hero-logo" height="430">
                <path
                    tag="path"
                    d="M 11.5,18.788687 C 9.2628645,14.634721 4.7885936,9.4422626 3.670026,9.4422626 c 3.3557031,-4.1539661 0,0 3.3557031,-4.1539661 0,3.1154747 2.2371354,4.1539661 4.4742709,7.2694405 2.237135,-3.1154744 4.474271,-4.1539658 4.474271,-7.2694405 3.355703,4.1539661 0,0 3.355703,4.1539661 -1.118568,0 -5.592839,5.1924584 -7.829974,9.3464244 m 0,-9.3464244 c 1.118568,-1.0384914 2.237135,-2.076983 3.355703,-5.1924577 L 13.737135,3.2113134 C 12.618568,6.326788 11.5,6.326788 11.5,7.3652796 11.5,6.326788 10.381432,6.326788 9.2628645,3.2113134 L 8.1442968,4.2498049 C 9.2628645,7.3652796 10.381432,8.4037712 11.5,9.4422626 Z"
                ></path>
            </svg>
            <div class="hero-title">
                <h1>Velocity</h1>
            </div>
            <div class="hero-subtitle">
                <h2>Supercharge your Discord today.</h2>
            </div>
            <div class="hero-buttons">
                <button class="look-vibrant external" onClick="location.href = './docs'">
                    Docs
                    <div class="arrow">→</div>
                </button>
                <button class="look-filled external" onClick="location.href = './store'">
                    Store
                    <div class="arrow">→</div>
                </button>
                <button class="look-vibrant external" onClick="location.href = './features'">
                    Features
                    <div class="arrow">→</div>
                </button>
            </div>
            <div tabindex="0" class="scroll-prompt">
                <div class="mouse-wheel"></div>
            </div>
        </div>
        <section id="details" class="details">
            <div class="details-header">
                <h1>Who doesn't love Statistics and Features?</h1>
            </div>

            <div class="details-grid">
                <div tabindex="0" class="details-grid-item">
                    <h1>0</h1>
                    <h2>External NPM Dependencies.</h2>
                </div>
                <div tabindex="0" class="details-grid-item">
                    <h1>Secure</h1>
                    <h2>We check internal tokens to keep you safe.</h2>
                </div>
                <div tabindex="0" class="details-grid-item">
                    <h1>Privacy</h1>
                    <h2>By Default.</h2>
                </div>
                <div tabindex="0" class="details-grid-item">
                    <h1>Built-Ins</h1>
                    <h2>Custom CSS and Startup Scripts.</h2>
                </div>
                <div tabindex="0" class="details-grid-item">
                    <h1>Epic Logo</h1>
                    <h2>...</h2>
                </div>
                <div tabindex="0" class="details-grid-item">
                    <h1>Stylish</h1>
                    <h2>We make sure our UI replicates discord for a native feel.</h2>
                </div>
            </div>
            <div class="details-subheading">
                <h1>Follow Velocity's development on GitHub</h1>
            </div>
            <a href="https://github.com/Velocity-Discord/Velocity"><img src="https://github-readme-stats.vercel.app/api/pin/?username=Velocity-Discord&repo=Velocity&show_owner=true&bg_color=ffffff0d&border_color=ffffff1a&text_color=cccccc&title_color=5B88FC&border_radius=10" style="max-width: 100%;"></a>
            <div class="discord">
                <div class="center-container">
                    <div class="message">
                        <div class="contents">
                            <img src="https://cdn.discordapp.com/avatars/538487970408300544/a_8370207d9881cf097303de86ee1dc550.webp?size=160" alt="" class="avatar">
                            <div class="body">
                                <h2 class="header"><span class="username role-0">TheCommieAxolotl</span><span class="header-spacer"></span><span class="timestamp">Today at 6:22AM</span></h2>
                                <div class="message-content edited">wanna join our <strike>great</strike> Velocity community?</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="center-container">
                    <div class="message">
                        <div class="contents">
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.8vfZAAiWZUyyk1eLwHwljQAAAA%26pid%3DApi&f=1" alt="" class="avatar">
                            <div class="body">
                                <h2 class="header"><span class="username role-1">Walter White</span><span class="header-spacer"></span><span class="timestamp">Today at 6:23AM</span></h2>
                                <div class="message-content"><span tabindex="0" class="spoiler-text">How about you velocitize some bitches</span></div>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="center-container">
                    <div class="message">
                        <div class="contents">
                            <img src="https://cdn.discordapp.com/avatars/538487970408300544/a_8370207d9881cf097303de86ee1dc550.webp?size=160" alt="" class="avatar">
                            <div class="body">
                                <h2 class="header"><span class="username role-0">TheCommieAxolotl</span><span class="header-spacer"></span><span class="timestamp">Today at 6:23AM</span></h2>
                                <div class="message-content">well umm here's the invite <a href="https://discord.gg/dATuY2F3Bd">https://discord.gg/dATuY2F3Bd</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="invite-container">
                        <div class="invite">
                            <h5 class="header">YOU SENT AN INVITE TO JOIN A SERVER</h5>
                            <div class="content">
                                <div class="icon"></div>
                                <div class="flex">
                                    <h3 class="invite-title">Velocity</h3>
                                    <strong class="invite-details">1234 Members</strong>
                                </div>
                                <a class="join-button" href="#">Join</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="note">(This conversation actually happened)</div>
            
        </section>

        {% include "footer.njk" %}

        <script>
            const scrollIndicator = document.querySelector(".scroll-prompt");

            scrollIndicator.addEventListener("click", () => {
                details.scrollIntoView()
            })
            
            scrollIndicator.addEventListener("keydown", (e) => {
                if (e.key === "Enter") {
                    details.scrollIntoView()
                }
            })

            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", (user) => {
                    if (!user) {
                        window.netlifyIdentity.on("login", () => {
                            document.location.href = "/admin/";
                        });
                    }
                });
            }
        </script>
    </body>
</html>
